################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelperFunctions/bin/Debug/net5.0
/HelperFunctions/obj
/KernelDensityEstimation/bin/Debug/net5.0
/KernelDensityEstimation/obj
